
@{
    ViewData["Title"] = "Lista de Empleados";
}

<h1>@ViewData["Title"]</h1>
<br />
<br />
@if(Model!=null){

    using (Html.BeginForm()){

        <select id="selAreas" onchange="setArea(this.value)">
            <option value="0">Selecciona Empleado</option>
            @foreach (DAL.Models.Empleado empleado in Model)
            {
                <option value="@empleado.IdArea">@empleado.Nombre</option>
            }
        </select>


        <input type="submit" value="Buscar Area" />
        <input type="hidden" id="IdArea" name="IdArea" value="0"/>
    }

}

<script>
    function setArea(id){
        document.getElementById('IdArea').value=id;
    }
</script>
